n8n/workflows/02_outbound_message.json
{
  "name": "02 - Outbound Message Sending",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "send-message",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-send-message",
      "name": "Webhook - Send Message",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [250, 300],
      "webhookId": "send-outbound-message"
    },
    {
      "parameters": {
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "url": "={{$env.SUPABASE_URL}}/rest/v1/vendor_profiles",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "id",
              "value": "=eq.{{$json.vendor_id}}"
            },
            {
              "name": "select",
              "value": "*"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{$env.SUPABASE_ANON_KEY}}"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{$env.SUPABASE_SERVICE_KEY}}"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "id": "get-vendor-details",
      "name": "Get Vendor Details",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [450, 300]
    },
    {
      "parameters": {
        "conditions": {
          "number": [
            {
              "value1": "={{$json.length}}",
              "operation": "larger",
              "value2": 0
            }
          ]
        }
      },
      "id": "check-vendor-found",
      "name": "Check - Vendor Found",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [650, 300]
    },
    {
      "parameters": {
        "jsCode": "// Extract vendor details and prepare for translation\nconst vendorData = $input.first().json[0];\nconst messageRequest = $('Webhook - Send Message').first().json;\n\nreturn {\n  json: {\n    vendor_id: vendorData.id,\n    vendor_name: vendorData.business_name,\n    vendor_phone: vendorData.phone_number,\n    vendor_language: vendorData.primary_language,\n    preferred_channel: vendorData.preferred_channel,\n    \n    // Message to send (always in English initially)\n    message_en: messageRequest.message,\n    urgency: messageRequest.urgency || 'normal',\n    message_type: messageRequest.message_type || 'operational',\n    template_id: messageRequest.template_id || null,\n    variables: messageRequest.variables || {},\n    \n    // Whether to send SMS backup\n    send_sms_backup: messageRequest.send_sms_backup || false\n  }\n};"
      },
      "id": "prepare-message-data",
      "name": "Prepare Message Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [850, 300]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{$json.vendor_language}}",
              "operation": "notEquals",
              "value2": "en"
            }
          ]
        }
      },
      "id": "check-needs-translation",
      "name": "Check - Needs Translation",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [1050, 300]
    },
    {
      "parameters": {
        "url": "https://api-free.deepl.com/v2/translate",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=DeepL-Auth-Key {{$env.DEEPL_API_KEY}}"
            },
            {
              "name": "Content-Type",
              "value": "application/x-www-form-urlencoded"
            }
          ]
        },
        "sendBody": true,
        "contentType": "form-urlencoded",
        "bodyParameters": {
          "parameters": [
            {
              "name": "text",
              "value": "={{$json.message_en}}"
            },
            {
              "name": "target_lang",
              "value": "={{$json.vendor_language.toUpperCase()}}"
            },
            {
              "name": "formality",
              "value": "default"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "id": "translate-message",
      "name": "Translate Message (DeepL)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [1250, 200]
    },
    {
      "parameters": {
        "jsCode": "// Merge translated message with original data\nconst preparedData = $('Prepare Message Data').first().json;\nconst translationResponse = $input.first().json;\n\nconst translatedText = translationResponse.translations[0].text;\n\n// Create bilingual message format\nconst bilingualMessage = `🇺🇸 ENGLISH:\\n${preparedData.message_en}\\n\\n` +\n  `🌐 ${preparedData.vendor_language.toUpperCase()}:\\n${translatedText}`;\n\nreturn {\n  json: {\n    ...preparedData,\n    message_translated: translatedText,\n    message_to_send: translatedText, // Send only translated version\n    message_bilingual: bilingualMessage // For records\n  }\n};"
      },
      "id": "merge-translation",
      "name": "Merge Translation",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1450, 200]
    },
    {
      "parameters": {
        "jsCode": "// No translation needed - use English message as-is\nconst preparedData = $input.first().json;\n\nreturn {\n  json: {\n    ...preparedData,\n    message_translated: preparedData.message_en,\n    message_to_send: preparedData.message_en,\n    message_bilingual: preparedData.message_en\n  }\n};"
      },
      "id": "use-english-message",
      "name": "Use English Message",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1450, 400]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{$json.preferred_channel}}",
              "operation": "equals",
              "value2": "whatsapp"
            }
          ]
        }
      },
      "id": "check-channel-type",
      "name": "Check - Channel Type",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [1650, 300]
    },
    {
      "parameters": {
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth",
        "url": "=https://api.twilio.com/2010-04-01/Accounts/{{$env.TWILIO_ACCOUNT_SID}}/Messages.json",
        "sendBody": true,
        "contentType": "form-urlencoded",
        "bodyParameters": {
          "parameters": [
            {
              "name": "From",
              "value": "=whatsapp:{{$env.TWILIO_WHATSAPP_NUMBER}}"
            },
            {
              "name": "To",
              "value": "=whatsapp:{{$json.vendor_phone}}"
            },
            {
              "name": "Body",
              "value": "={{$json.message_to_send}}"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "id": "send-via-whatsapp",
      "name": "Send via WhatsApp (Twilio)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [1850, 200],
      "credentials": {
        "httpBasicAuth": {
          "id": "twilio-credentials",
          "name": "Twilio API"
        }
      }
    },
    {
      "parameters": {
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth",
        "url": "=https://api.twilio.com/2010-04-01/Accounts/{{$env.TWILIO_ACCOUNT_SID}}/Messages.json",
        "sendBody": true,
        "contentType": "form-urlencoded",
        "bodyParameters": {
          "parameters": [
            {
              "name": "From",
              "value": "={{$env.TWILIO_SMS_NUMBER}}"
            },
            {
              "name": "To",
              "value": "={{$json.vendor_phone}}"
            },
            {
              "name": "Body",
              "value": "={{$json.message_to_send}}"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "id": "send-via-sms",
      "name": "Send via SMS (Twilio)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [1850, 400],
      "credentials": {
        "httpBasicAuth": {
          "id": "twilio-credentials",
          "name": "Twilio API"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Prepare conversation record for database\nconst messageData = $('Check - Channel Type').first().json;\nconst twilioResponse = $input.first().json;\n\nconst channel = messageData.preferred_channel === 'whatsapp' ? 'whatsapp' : 'sms';\n\nreturn {\n  json: {\n    vendor_id: messageData.vendor_id,\n    direction: 'outbound',\n    channel: channel,\n    original_text: messageData.message_en,\n    original_language: 'en',\n    translated_text: messageData.message_translated,\n    translated_language: messageData.vendor_language,\n    message_type: messageData.message_type,\n    urgency_level: messageData.urgency,\n    twilio_message_sid: twilioResponse.sid,\n    sent_at: new Date().toISOString(),\n    raw_webhook_data: twilioResponse\n  }\n};"
      },
      "id": "prepare-conversation-record",
      "name": "Prepare Conversation Record",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2050, 300]
    },
    {
      "parameters": {
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "url": "={{$env.SUPABASE_URL}}/rest/v1/conversations",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{$env.SUPABASE_ANON_KEY}}"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{$env.SUPABASE_SERVICE_KEY}}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "return=representation"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{JSON.stringify($json)}}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "id": "store-conversation",
      "name": "Store Conversation in Database",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [2250, 300]
    },
    {
      "parameters": {
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "url": "={{$env.SUPABASE_URL}}/rest/v1/system_events",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{$env.SUPABASE_ANON_KEY}}"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{$env.SUPABASE_SERVICE_KEY}}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"event_type\": \"message_sent\",\n  \"vendor_id\": \"{{$json.vendor_id}}\",\n  \"related_id\": \"{{$json.id}}\",\n  \"description\": \"Outbound message sent to {{$('Prepare Message Data').first().json.vendor_name}} via {{$json.channel}}\",\n  \"severity\": \"info\",\n  \"triggered_by\": \"automation:n8n\",\n  \"event_data\": {{JSON.stringify($json)}}\n}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "id": "log-system-event",
      "name": "Log System Event",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [2450, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"success\": true,\n  \"conversation_id\": \"{{$json.id}}\",\n  \"vendor_id\": \"{{$json.vendor_id}}\",\n  \"channel\": \"{{$json.channel}}\",\n  \"message_sid\": \"{{$json.twilio_message_sid}}\",\n  \"sent_at\": \"{{$json.sent_at}}\",\n  \"message\": \"Message sent successfully\"\n}",
        "options": {
          "responseCode": 200
        }
      },
      "id": "respond-success",
      "name": "Respond - Success",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [2650, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"success\": false,\n  \"error\": \"Vendor not found\",\n  \"vendor_id\": \"{{$('Webhook - Send Message').first().json.vendor_id}}\"\n}",
        "options": {
          "responseCode": 404
        }
      },
      "id": "respond-vendor-not-found",
      "name": "Respond - Vendor Not Found",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [850, 450]
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook - Send Message": {
      "main": [
        [
          {
            "node": "Get Vendor Details",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Vendor Details": {
      "main": [
        [
          {
            "node": "Check - Vendor Found",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check - Vendor Found": {
      "main": [
        [
          {
            "node": "Prepare Message Data",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond - Vendor Not Found",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Message Data": {
      "main": [
        [
          {
            "node": "Check - Needs Translation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check - Needs Translation": {
      "main": [
        [
          {
            "node": "Translate Message (DeepL)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Use English Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Translate Message (DeepL)": {
      "main": [
        [
          {
            "node": "Merge Translation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge Translation": {
      "main": [
        [
          {
            "node": "Check - Channel Type",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Use English Message": {
      "main": [
        [
          {
            "node": "Check - Channel Type",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check - Channel Type": {
      "main": [
        [
          {
            "node": "Send via WhatsApp (Twilio)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send via SMS (Twilio)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send via WhatsApp (Twilio)": {
      "main": [
        [
          {
            "node": "Prepare Conversation Record",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send via SMS (Twilio)": {
      "main": [
        [
          {
            "node": "Prepare Conversation Record",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Conversation Record": {
      "main": [
        [
          {
            "node": "Store Conversation in Database",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Store Conversation in Database": {
      "main": [
        [
          {
            "node": "Log System Event",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log System Event": {
      "main": [
        [
          {
            "node": "Respond - Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "1.0.0",
  "id": "02-outbound-message-sending",
  "meta": {
    "instanceId": "asi360-ispeak-production"
  },
  "tags": [
    {
      "name": "core",
      "id": "1"
    },
    {
      "name": "messaging",
      "id": "2"
    }
  ]
}
